# =========================
# Backend (Spring Boot)
# =========================
/backend/target/
/backend/.mvn/
/backend/.classpath
/backend/.project
/backend/.settings/
/backend/logs/

# application secrets
/backend/src/main/resources/application.properties

# =========================
# Frontend (Angular)
# =========================
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
/frontend/.vscode/

# =========================
# OS & IDE files
# =========================
.DS_Store
Thumbs.db
*.log
*.tmp
.idea/
.vscode/
*.iml
